@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

$roboto: 'Roboto', sans-serif;

$s: 0.7rem;
$m: 1rem;
$l: 1.5rem;
$xl: 2rem;

$light: 300;
$medium: 500;
$bold: 700;
$black: 900;